@model BaiTapLonNhom02.Models.SinhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nhom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nhom.MaNhom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cathi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cathi.MaCathi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
